<h1>All Playlists</h1>

<ul>
<%@playlists.each do |playlist|%>
  <li><%= link_to "#{playlist.name} - #{playlist.user.username}", playlist %></li>
<% end %>
</ul>

 <%=button_to "Create a Playlist",new_playlist_path(), method: 'get'%>