<h1>All Playlists</h1>

<%=button_to "Create New Playlist", new_playlist_path, method: :get %>

<ul>
<%@playlists.each do |playlist|%>
  <li><%= link_to "#{playlist.name} - #{playlist.user.username}", playlist %></li>
<% end %>
</ul>